body {
    background: linear-gradient(45deg, #6D8D43, #ABE75F);
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para ocupar toda a altura da janela */
    margin: 0;
    background-color: #f8f9fa; /* Cor de fundo suave */
}

#dadosUsuario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white; /* Fundo branco para o formulário */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 400px; /* Largura do formulário */
    max-height: 700px; /* Defina a altura máxima conforme necessário */
    overflow-y: auto; /* Ativa a rolagem vertical */
    padding-right: 10px;
}

.input {
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%; /* Largura total dos campos */
    padding: 10px;
    margin: 5px 0; /* Margem entre os campos */
    margin-bottom: 10px;
    border: 1px solid #ced4da; /* Borda suave */
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container {
    position: relative;
    width: 100%;
}


label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
    

.button {
    width: 100%; /* Botão ocupa toda a largura */
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}

#voltar {
    position: fixed; /* Fixa o botão no canto da tela */
    top: 30px; /* Distância do topo */
    left: 30px; /* Distância da esquerda */
    padding: 10px 20px; /* Tamanho do botão */
    font-size: 16px; /* Tamanho da fonte */
    background-color: #4CAF50; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: 1px solid white; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Indica que é clicável */
}

#voltar:hover {
    background-color: #45a049; /* Cor de fundo quando o mouse passa sobre o botão */
}


.texto-diagonal {
    position: fixed;
    top: 600px;
    left: 1450px;
    transform: translate(-50%, -50%) rotate(-40deg);
    font-size: 400px;
    color: rgba(0, 0, 0, 0.39);
    white-space: nowrap;
    pointer-events: none;
    z-index: -1;
}

#detalheHeader {
    text-align: center;
    padding: 25px 0;
}

div i {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 20px; /* Ajuste conforme necessário */
    top: 45%;
    transform: translateY(-50%); /* Centraliza o ícone verticalmente */
    color: #a8a6a6;
}